@font-face{
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico-Regular.ttf");
}

:root {
  --radius: 600px;
  --bpm: 140;
  --exp: 0;
  /*overflow: hidden;*/
}

body{
  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        /*url("https://www.publicdomainpictures.net/pictures/230000/velka/pink-textured-background-1505272869Zp5.jpg");*/
        /*url("/mnt/E/bg/online_background_5e218e7a2efe1ea92e6718ee9947cf83.jpg");*/
        url("../img/online_background_0cd9a99a9a16530cceca7f28bed954c8.jpg");
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}
.sbtne{
  margin-top: 50rem;
  margin-left: calc(50% - 150px);
  width: 300px;
  height: 70px;
  border: none;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 0 10px 10px #FF92C6;
  background-color: #ff1a88;
  transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;
  /* #FF92C6 B2839A */
}

.sbtnd{
  margin-top: 50rem;
  margin-left: calc(50% - 150px);
  width: 300px;
  height: 70px;
  border: none;
  background-color: #EF0073;
  border-radius: 8px;
  /*box-shadow: 0 0 10px 10px #FF92C6;*/
  opacity: 70%;
  background-color: #EF0073;
  transition: background-color 1s, box-shadow 1s, opacity 1s;
}

.btntxt{
  font-size: 35px;
  color: white;
  margin: 0;
  padding: 0;
  opacity: 100%;
}

@keyframes pulse{
  0%{
      width: var(--radius);
      height: var(--radius);
      margin-top: calc(5rem - var(--offset) - var(--hoveroff));
      margin-left: calc(50% - var(--radius) / 2 - var(--offset));
      font-size: calc(200px - var(--hoveroff));
  }
  10%{
    width: calc(var(--radius) + 20px);
    height: calc(var(--radius) + 20px);
    margin-top: calc(5rem - 10px - var(--offset) - var(--hoveroff));
    margin-left: calc(50% - var(--radius) / 2 - 10px - var(--offset));
    font-size: calc(210px - var(--hoveroff));
  }
  100%{
    width: var(--radius);
    height: var(--radius);
    margin-top: calc(5rem - var(--offset) - var(--hoveroff));
    margin-left: calc(50% - var(--radius) / 2 - var(--offset));
    font-size: calc(200px - var(--hoveroff));
  }
}

.circleborder{
  --hoveroff: 0px;
  --offset: 30px;
  position: absolute;
  margin-top: calc(5rem - var(--offset));
  margin-left: calc(50% - var(--radius) / 2 - var(--offset));
  width: var(--radius);
  height: var(--radius);
  border: 30px solid white;
  border-bottom: 30px solid white;
  border-radius: 50%;
  background-color: #00000000;
  box-shadow: 2px 5px 5px #00000099, inset 2px 5px 5px #00000099;
  /*animation: calc(60s / var(--bpm)) ease-out running infinite pulse;*/
  transition: width 0.5s, height  0.5s, margin 0.5s;
}

.circleborder:hover{
  --hoveroff: 10px;
  --radius: 620px;
  margin-top: calc(5rem - var(--offset) - 10px);
  transition: width 0.5s, height  0.5s, margin 0.5s;
}

.circleborder:hover #maintxt {
  --hoveroff: -5px;
}

.circlebg{
  --offset: 30px;
  position: absolute;
  margin-top: calc(5rem - var(--offset));
  margin-left: calc(50% - var(--radius) / 2 - var(--offset));
  width: calc(var(--radius) + 60px);
  height: calc(var(--radius) + 60px);
  border-radius: 50%;
  background-color: #FF65AA;
  overflow: hidden;
  /*animation: calc(60s / var(--bpm)) ease-out running infinite pulse;*/
}

.maintxt{
  --hoveroff: 0px;
  --offset: 0px;
  font-family: "Pacifico";
  width: var(--radius);
  height: var(--radius);
  margin-top: calc(5rem - var(--offset));
  margin-left: calc(50% - var(--radius) / 2 - var(--offset) - var(--hoveroff));
  font-size: calc(200px - var(--hoveroff));
  padding-top: calc(50% - 17rem);
  padding-left: 10%;
  color: white;
  text-shadow: 2px 5px 3px #00000099;
  transition: width 0.5s, height  0.5s, margin 0.5s, font-size 0.5s;
  /*animation: calc(60s / var(--bpm)) ease-out running infinite pulse;*/
}

@keyframes tranim{
  0%   {top: 40rem;}
  100% {top: -35rem;}
}

.triangle{
  --base: 6vw;
  --light: 65%;
  --xpos: 0rem;
  --ypos: 0rem;
  --speed: 3s;

  background-color: transparent;
  position: absolute;
  left: var(--xpos);
  top: 65vh;
  width: 0;
  height: 0;

  border-left: var(--base) solid transparent;
  border-right: var(--base) solid transparent;
  border-bottom: calc(var(--base) * 1.732) solid hsl(334, 100%, var(--light));

  animation-name: tranim;
  animation-duration: var(--speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#arrow{
    position: fixed;
    --size: 15px;
    background-color: transparent;
    margin-top: calc(96vh - var(--exp) * 0.8rem);
    margin-left: -11rem;
    transform: rotate(-135deg);
    border: solid white;
    border-width: 0 8px 8px 0;
    border-radius: 10%;
    padding: var(--size);
    opacity: 45%;
    transition: opacity 0.5s, margin 0.5s, transform 0.5s;
    z-index: 3;

}

#arrow:hover{
  opacity: 90%;
  transition: opacity 0.5s, margin 0.5s, transform 0.3s;
}

#footer{
  position: fixed;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  height: calc(var(--exp) * 1rem);
  top: calc(100% - var(--exp) * 1rem);
  background-color: black;
  border-top: 4px solid #3392FF;
  transition: top 0.5s, height 0.5s;
}

