body{
  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        /*url("https://www.publicdomainpictures.net/pictures/230000/velka/pink-textured-background-1505272869Zp5.jpg");*/
        /*url("/mnt/E/bg/online_background_5e218e7a2efe1ea92e6718ee9947cf83.jpg");*/
        url("/src/online_background_0cd9a99a9a16530cceca7f28bed954c8.jpg");
  background-size: cover;

}
.sbtn{
  position: absolute;
  top: 90vh;
  left: 50vw;
  margin-left: -150px;
  width: 300px;
  height: 70px;
  border: none;
  background-color: #EF0073;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  opacity: 70%;
  box-shadow: 0 0 10px 10px #FF92C6;
  font-size: 35px;
  color: white;

  /* #FF92C6 B2839A */
}
.circleborder{
  position: absolute;
  top: 10vh;
  left: 50%;
  width: 600px;
  height: 600px;
  border: 30px solid white;
  border-bottom: 30px solid white;
  border-radius: 50%;
  background-color: #00000000;
  box-shadow: 2px 5px 5px #00000099, inset 2px 5px 5px #00000099;
  margin-left: -320px;


}
.circlebg{
  position: absolute;
  top: 12.5vh;
  left: 50%;
  margin-left: -300px;
  width: 610px;
  height: 610px;
  border-radius: 50%;
  background-color: #FF65AA;
  overflow: hidden;
}
@keyframes tranim{
  0%   {top: 65vh;}
  100% {top: -65vh;}
}

.triangle{
  --base: 6vw;
  --light: 65%;
  --xpos: 0vw;
  --ypos: 0vw;
  --speed: 3s;

  background-color: transparent;
  position: absolute;
  left: var(--xpos);
  top: 65vh;
  width: 0;
  height: 0;

  border-left: var(--base) solid transparent;
  border-right: var(--base) solid transparent;
  border-bottom: calc(var(--base) * 1.732) solid hsl(334, 100%, var(--light));

  animation-name: tranim;
  animation-duration: var(--speed);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
